*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



body {
    background-color: rgb(1, 28, 6);
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}

h1{
    width: 30%;
    margin: 0 auto;
    color: #0c9543;
}

.demo  {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(7, 11, 78);
    border-radius: 50px;
    padding-bottom: 20px;
}

.demo  div{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.box{
    width: 100%;
    text-align: center;
}

img{
    width:  50%;
    margin: 0 auto;
    border-radius: 50px;
 }

.boian,
.boian + label ~ div {
    display: none;
}

.boian + label {
    color: rgb(153, 116, 199);
    cursor: pointer;
    display: inline-block;
    border: 2px solid rgb(153, 116, 199);
    border-radius: 50px;
}

.boian:checked + label {
    color: rgb(179, 255, 0);
    border-bottom: 0;
}

.boian:checked + label + .box {
    display: block; 
    opacity:0; 
    transition: 1s; 
    animation: show 1s 1; 
    animation-fill-mode: forwards; 
   
}
.demo{
    cursor: pointer;
}

@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.boian:hover + label + .box {
    display: block; 
     opacity:0; 
    transition: 1s; 
    animation: show 1s 1; 
    animation-fill-mode: forwards; 
   
    
    
}


.demo:hover >div> label:before {
    background-color: #0c9543;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 10px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.demo >div>.boian:checked + label:before {
   
    background-color: #9f0f0f;
    color: #fff;
    content: "\2212";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 10px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@media (max-width: 790px ){
    h1{
        font-size: 20px;
    }
    body {
        background-color: rgb(1, 28, 6);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
    }
   
}


